<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Brand</title>
    <link rel="stylesheet" href="/static/gre-prep-login.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>GRE</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    
                    <li class="nav-item"><a class="nav-link" href="home"><i class="fas fa-user"></i><span>Home</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="analysis"><i class="fas fa-tachometer-alt"></i><span>Analysis</span></a></li>
                    <li class="nav-item"><a class="nav-link active" href="test-history"><i class="fas fa-table"></i><span>Test History</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="logout"><i class="far fa-user-circle"></i><span>Logout</span></a></li>
                   
                   
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="container-fluid">
            
            <div class="card shadow">
                <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">My Test History</p>
                </div>
                <div class="card-body">
                   
                    </div>
                    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <table class="table my-0" id="dataTable">

                            <thead>
                                <tr>
                                    <th>Test Type</th>
                                    <th>Test Number</th>
                                    <th>Date</th>
                                    <th>Score</th>
                                </tr>
                            {% for i in list_H %}
                                <tr>
                                    <td>{{i[1]}}</td>
                                    <td>{{i[0]}}</td>
                                    <td>{{i[2]}}</td>
                                    <td>{{i[3]}}</td>

                                </tr>
                            {% endfor %}
                            </thead>



                        </table>
                    </div>
                    <div class="row">
<!--                        <div class="col-md-6 align-self-center">-->
<!--                            <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>-->
<!--                        </div>-->
<!--                        <div class="col-md-6">-->
<!--                            <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">-->
<!--                                <ul class="pagination">-->
<!--                                    <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>-->
<!--                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>-->
<!--                                    <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--                                    <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--                                    <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>-->
<!--                                </ul>-->
<!--                            </nav>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/chart.min.js"></script>
<script src="/bs-init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
<script src="/theme.js"></script>
<script id="bs-live-reload" data-sseport="52706" data-lastchange="1617954619875" src="/js/livereload.js"></script>
</body>

</html>